@using roadcap.recipes.entities.Models

@model Recipe

@{
    ViewData["Title"] = "Add Recipe";
}

<div class="container body-drop h100">
    <partial name="_Edit.cshtml" model="Model" view-data="ViewData" />
</div>