<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - roadcap.recipes</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <!-- navbar -->

    <nav class="navbar navbar-expand-lg fixed-top ">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-4">

                <li class="nav-item">
                    <a class="nav-link" data-value="about" href="#">Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-value="portfolio" href="#">Ingredients</a>
                </li>
            </ul>

        </div>
    </nav>

    @RenderBody()

    <footer class="footer mt-auto py-3" style="background:#F97300;">
        <div class="container">
            <p class="text-center text-white lead">
                Copyright &copy;
                <script type="text/javascript">
                    document.write(new Date().getFullYear());
                </script> Roadcap Enterprises.
                <a href="https://www.freepik.com/photos/frame">Veggie photo created by freepik - www.freepik.com</a>
            </p>

        </div>
    </footer>
    <!-- Footer -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

